body {
    height: 100%;
    overflow: auto;
    padding-bottom: 10%;
}

.tabpad{
    padding-top: 4%;
}
.sidenavpad{
    padding-top: 4%;
    border-bottom: solid 1px;
    border-right: dashed;
    border-color: #1976d2;
}
.contentpad{
    padding-top: 2%;
}