body {
    height: 100%;
    overflow: auto;
    padding-bottom: 10%;
}

.tabpad{
    padding-top: 4%;
}
.sidenavpad{
    padding-top: 4%;
    border-bottom: solid;
    border-right: groove;
    border-color: lightgrey;
}
.contentpad{
    padding-top: 2%;
}
.divider{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    margin-bottom: 1%;
}
.errormsg {
    color: red;
}